
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: wrap;
}

*::-webkit-scrollbar {
    display: none;
}

/* header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 8px;
    margin-bottom: 0;
    width: 100vw;
    height: 70px;
    background-color: darkblue;
    overflow-y: hidden;
    box-shadow: 0 6px 16px rgb(0,0,0,0.75);
    z-index: 4;
}

#header img {
    margin-left: 5px;
}

.header h1 {
    padding: 6px 0 0 10px;
    text-wrap: nowrap;
    color: #f2eeff;
    font-family: "Cinzel", serif;
    letter-spacing: 2px;
    font-size: clamp(0.1rem, 2em, 3em);
}

.header-buttons {
    display: flex;
    align-self: center;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    height: 80%;
}

.header-buttons button {
    height: 80%;
    padding: 0 10px;
    text-align: center;
    font-family: "Times New Roman", serif;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #cbcdff;
}

.header-buttons button:active {
    background-color: darkblue;
    color: white;
}
.header-buttons button:hover {
    text-decoration: underline;
    background-color: #b6b8e4;
}


#sheet {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    width: 80vw;
    margin: 0 auto;
    background-color: powderblue;
}

/* character info styles */
.character-info {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, auto));
    grid-auto-columns: minmax(200px, 1fr);
    width: 25%;
    height: 120px;
    background-color: powderblue;
}

.character-info > div:nth-last-child(-n+2) {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

#character-ancestry,
#character-paths,
#character-name,
#character-level {
    border: 1px solid black;
    background: #EEEEEE;
    width: 100%;
    height: 70%;
}

#character-ancestry {
    border-bottom-right-radius: 5px;
}

#character-paths {
    border-bottom-left-radius: 5px;
}

#character-level {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.name-box, .level-box {
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    min-width: 50px;
}

.level-box {
    width: 100%;
    min-width: 50px;
    grid-column: span 1;
}

.name-box {
    width: 100%;
    min-width: 75px;
    grid-column: span 3;
}

/* stat block styles */
#stats-container {
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: space-between;
    padding: 4px;
    gap: 6%;
}

.stat-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 33.3%;
    height: 100%;
    font-size: clamp(0.5rem, 1rem, 3rem);
    max-width: 340px;
}

.stat-mid {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    padding: 2px 1px 1px 1px;
    width: 100%;
    height: 60%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 0.8em;
}

.left-stat,
.right-stat {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
}

.left-stat-box, .right-stat-box {
    width: 80%;
    height: 75%;
    margin-top: 4px;
    border: 2px solid #333333;
    background-color: #EEEEEE;
}

.left-stat-box {
    border-bottom-left-radius: 15px;
}

.right-stat-box {
    border-bottom-right-radius: 15px;
}

.defense-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.defense-box-shape {
    width: 80%;
    height: 75%;
    margin-top: 4px;
    background-color: #333333;
    clip-path: polygon(15% 0%, 85% 0%, 100% 15%, 100% 65%, 50% 100%, 0% 65%, 0% 15%);
}

#physical-defense,
#cognitive-defense,
#spiritual-defense {
    margin: 4px auto;
    width: 88%;
    height: 88%;
    background-color: #EEEEEE;
    clip-path: polygon(15% 0%, 85% 0%, 100% 15%, 100% 65%, 50% 100%, 0% 65%, 0% 15%);
}

.max-current-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    padding: 2px;
}

.max-box, .current-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
    line-height: 0.8;
    width: 50%;
    font-size: 0.7em;
}

.max-box {
    border-right: 1px solid black;
}

.current-box {
    border-left: 1px solid black;
}

.max-box > span {
    font-size: 0.5em;
    background-color: #EEEEEE;
    width: 80%;
    text-align: center;
}

.deflect-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
    line-height: 0.8;
    width: 25%;
    font-size: 0.45em;
    gap: 3px;
}

#max-health,
#current-health,
#max-focus,
#current-focus,
#max-investiture,
#current-investiture,
#deflect {
    background-color: #EEEEEE;
    width: 80%;
    height: 80%;
}

/* skill styles */
#skills-container {
    width: 100%;
    height: 240px;
    padding: 0 5px 0 5px;
}

#skills {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;
    gap: 0 5px;
    list-style: none;
    height: 100%;
}

#skills li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#skills li p {
    padding-left: 5px;
    text-wrap: nowrap;
    font-size: clamp(0.5rem, 1rem, 3rem);
}

.skill-box {
    border-radius: 10%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
    text-align: center;
}

.skill-level {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
    width:70px;
    height: 100%;
    gap: 2px;
}

.skill-level-box {
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.skill-level-box, .skill-box {
    border: 1px solid #333333;
    background-color: #EEEEEE;
}

/* third row styles */

.bonus-stats-container {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    height: 120px;
    padding: 8px;
    align-content: center;
}

.lifting-capacity-box,
.movement-box,
.recovery-die-box,
.senses-range-box,
.conditions-and-injuries-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lifting-and-movement-box {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.lifting-capacity-box,
.movement-box {
    width: 150px;
}

.recovery-die-box {
    width: 120px;
}

.senses-range-box {
    width: 180px;
}

#lifting-capacity,
#movement,
#recovery-die,
#senses-range {
    height: 70%;
    background-color: #EEEEEE;
    border: 2px solid black;
}

#recovery-die,
#senses-range {
    width: 80%;
    border-radius: 8px;
}

#lifting-capacity,
#movement {
    width: 95%;
}

#lifting-capacity {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#movement {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

/* dice box styles */
#dice-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75vw;
    height: 75vh;
    pointer-events: none;
    z-index: 999;
}

#dice-container canvas {
    width: 100%;
    height: 100%;
}

/* toggle classes */
.filled {
    background-color: #333333;
}

.active {
    background-color: darkblue !important;
    color: white !important;
}

/* attribute classes */
[contenteditable="true"] {
    cursor: text;
}

[contenteditable="false"] {
    cursor: default;
}

/* popup and menu styles */
#popup {
    display: none;
}
#popup.visible {
    display: flex;
    flex-direction: column;
    background-color: powderblue;
    border: 12px solid darkslateblue;
    border-radius: 16px;
    padding: 0;
    box-shadow: 0 10px 25px rgb(0,0,0,0.6);
    z-index: 8;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-90%);
    width: 300px;
    height: 170px;
}
#popup-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    border: 0;
    margin: 2px 4px 0 0;
    height: 24px;
    width: 24px;
    font-size: 1.2em;
    background-color: transparent;
}
#popup-close:hover {
    border: 1px solid rgb(1,1,1,0.8);
    border-radius: 5px;
    background-color: rgb(25,25,25,0.2);
    box-shadow: 0 0 16px rgb(0,0,0,0.2);
}
#popup-close:active {
    transform: scale(95%);
}
#popup-title {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}
#popup-content {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #EEEEEE;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid black;
}
#popup-confirm {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 20px;
    background-color: powderblue;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 12px rgb(0,0,0,0.2);
}
#popup-confirm:hover {
    box-shadow: 0 0 12px rgb(0,0,0,0.1);
}
#popup-confirm:active {
    box-shadow: 0 0 0 0;
}

/* responsive design */
@media only screen and (min-width: 810px) and (max-width: 1010px) {
    #sheet {
        width: 100vw;
    }
}

@media only screen and (min-width: 500px) and (max-width: 810px) {
    #sheet {
        width: 100vw;
    }

    .bonus-stats-container {
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
        justify-content: center;
    }

    .lifting-and-movement-box,
    .recovery-die-box,
    .senses-range-box {
        height: 50%;
    }

    .character-info {
        width: 100%;
    }

    #skills-container {
        height: 320px;
    }

    #skills {
        grid-template-rows: repeat(9, 1fr);
    }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    #sheet {
        width: 100vw;
        flex-direction: column;
    }

    #stats-container {
        flex-direction: column;
        height: 600px;
        align-items: center;
        justify-content: flex-start;
    }

    .stat-box {
        width: 100%;
    }

    .bonus-stats-container {
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
        justify-content: center;
    }

    .lifting-and-movement-box,
    .recovery-die-box,
    .senses-range-box {
        height: 50%;
    }

    .character-info {
        width: 100%;
    }

    #skills-container {
        height: 480px
    }
    #skills {
        grid-template-rows: repeat(18, 1fr);
    }
}